ul {
  list-style: none;
}

li{
  list-style: none;
}
input {
  margin-right: 15px;
}
.App {
  text-align: center;
}

.todo.completed{
  text-decoration: line-through;
}

.input-todo{
  margin: 10px 0;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.peshka{
  margin: 0 10px;
  font-size: 20px;
}

.li-item{
  border: 2px white solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

select{
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-item{
  margin: 25px 0;
}
button{
  cursor: pointer;
  margin: 10px;
}

